.weather-container .temprature {
    display: flex;

    background-color: var(--container-bg-col);
    border: 2px solid var(--container-border-col);
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}

.weather-container .temprature h1 {
    color: var(--accent-text-col);
    padding-right: 10px;
}

.weather-container .temprature .celcius {
    color: var(--accent2-text-col);
    padding-right: 5px;
    border-right: 2px solid hsl(218.67deg 40.25% 76.52%);
    height: 15%;
    font-weight: 600;
}

.weather-container .temprature .fahrenheit {
    color: var(--accent2-text-col);
    padding-left: 5px;
}
