:root {
    --body-col: hsl(218.92deg 100% 94.83%);
    --container-bg-col: hsl(218.18deg 42.86% 84.9%);
    --container-border-col: hsl(219deg 22.73% 65.49%);
    --h-color-text: hsl(221.54deg 39.03% 57.46%);
    --accent-text-col: hsl(0deg 100% 74.14%);
    --accent2-text-col: hsl(0deg 100% 79.09%);
}

h1,
h2,
p,
button {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--body-col);
}

.container {
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
}

.search-container .search {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--container-bg-col);
    border-radius: 5px;
    border: 2px solid var(--container-border-col);
    padding: 15px 65px;
}

.search-container .search input {
    margin-bottom: 5px;
}

.search-container .search button {
    width: 100px;
    height: 30px;

    font-size: 16px;
    font-weight: 600;

    color: var(--accent-text-col);
    background-color: hsl(0.95deg 100% 93.32%);
    border: solid 2px var(--accent2-text-col);

    border-radius: 12px;
    margin-top: 5px;
}

.weather-container {
    background-color: var(--weather-container-bg-col);
    display: grid;
    grid-template-columns: 33% 15% 1fr;
    grid-template-rows: 40% 1fr;

    width: 600px;
    height: 300px;

    border-top: 2px solid var(--container-bg-col);
    margin-top: 20px;
    padding-top: 10px;
}

.weather-container .location {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    width: 500px;

    align-self: center;
    justify-self: center;
}

.weather-container .icon {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    align-self: start;
    justify-self: end;

    width: 75%;
    height: 80%;
}

.weather-container .temprature {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    height: 82%;
    width: 110%;
    box-sizing: border-box;

    align-self: start;
    padding-top: 15px;
}

.weather-container .info {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    align-self: start;
    justify-self: center;

    padding: 15px 20px;
    margin-right: 20px;
}

.weather-container .error {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    align-self: center;
    justify-self: center;

    color: var(--accent-text-col);
    display: flex;
    justify-content: center;
    align-items: center;
}
